    <section>
        <h1 class="text-5xl flex justify-center">{{ message }}</h1>
    </section>

    <section>
        <div class="flex flex-col justify-items-center ml-25 mr-25">
            <img src="/img/fondo.png" alt="" class="h-130">
        </div>
        <div class="flex flex-row justify-items-baseline">
            <p class="self-center p-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quasi, vel recusandae vitae ipsum aut soluta ducimus dolorum ipsa nihil delectus reiciendis illo saepe, repellendus dolore. Eos maiores reiciendis nihil.</p>
            <img src="/img/chocotorta.png" alt="" class="h100">
        </div>
    </section>
    <script src="/socket.io/socket.io.js"></script>
    <script type= "/text/javascript" src="/src/routes/products.router.js"></script>
    <script>
        const socket = io()
        console.log('Cliente conectado al servidor Socket')
    </script>