    <section>
        <h1 class="text-5xl flex justify-center">{{ message }}</h1>
    </section>

    <section>
        <li>Nombre: {{this.name}}</li>
        <li>Precio: {{this.price}}</li>
        <hr>
    </section>
    <script type="/text/javascript" src=""></script>