    <section>
        <h1 class="text-5xl flex justify-center">{{ message }}</h1>
    </section>

    <section>
    {{#each db}}
        <li>Nombre: {{this.name}}</li>
        <li>Precio: {{this.price}}</li>
        <li>ID: {{this.id}}</li>
        <hr>
    {{/each}}
    </section>
    <script type="/text/javascript" src=""></script>
    {{!-- <script>
        const socket = io()
        console.log('Cliente conectado al servidor Socket')
    </script> --}}